header {
  text-align: center;
  margin-bottom: 4rem;
}
.logo {
  height: 100px;
  margin: 1rem 0;
}
.main-nav {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(8,5);
  }
}

.header-wrapper  {
  padding: 1em 0;
  background: $header-bg;
}


header {
  position: relative;
  height: 106px;
  color: #fff;
  //background-color: #4b9cdb;
  //border-bottom: 2px solid #5A7DB9;
}


.fixed {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  min-width: 100%;
  //border-bottom: 2px solid #000;
  opacity: .97;
  background-color: #282425;
  transition: opacity .5s ease-out;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.60);
}

nav {
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin: 0 2rem 0 0;
      a.link {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
}

.skewed {
    margin-top: 100px;
    background-color: #282425;
    height: 100px;
    padding-top: .5rem;
    transform: skewY(-10deg);
    position: absolute;
    top: -165px;
    
    left: -8px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
    @include breakpoint($bp-xlarge, $no-query: ".no-mq") {
      left: -58px;
    }
}


.skewed h3 {
   color: yellow;
    font-size: 50px;
    margin: 12px 20px 0 20px;
}
