header {
  text-align: center;
  margin-bottom: 8rem;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    margin-bottom: 5rem;
  }
}
.logo {
  height: 120px;
  margin: 1rem 0 .5rem 0;
}
.main-nav {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(8,5);
  }
}

.header-wrapper  {
  padding: 1em 0;
  background: $header-bg;
}


header {
  position: relative;
  height: 145px;
  color: #fff;
  //background-color: #4b9cdb;
  //border-bottom: 2px solid #5A7DB9;
}


.fixed {
  z-index: 100;
  position: fixed;
  top: -1px;
  left: 0;
  margin-top: 0;
  min-width: 100%;
  //border-bottom: 2px solid #000;
  opacity: .97;
  background-color: #282425;
  transition: opacity .5s ease-out;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.60);
}

nav {
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin: 0 .5rem 0 0;
       @include breakpoint($bp-medium, $no-query: ".no-mq") {
          margin: 0 2rem 0 0;
       }
      a.link {
        font-family: $special-font;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
          font-size: 30px;
        }
        
      }
    }
  }
}

.header-bottom {
  font-family: $special-font;
   color: #fff;
   font-size: 1rem;
   .ghost {
        display: none;
    }
}
.skewed {
    margin-top: 120px;
    background-color: #282425;
    height: 80px;
    padding-top: .5rem;
    transform: skewY(-10deg);
    position: absolute;
    top: -165px;
    left: -8px;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    //outline: 1px solid transparent;
    //box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);
    @include breakpoint($bp-xlarge, $no-query: ".no-mq") {
      margin-top: 100px;
      left: -58px;
      height: 100px;
    }
}


.skewed h3 {
   font-family: $special-font;
   color: yellow;
    font-size: 30px;
    margin: 12px 10px 0px 10px;
    @include breakpoint($bp-xlarge, $no-query: ".no-mq") {
      margin: 12px 20px 0 20px;
      font-size: 50px;
    }
}


.button.facebook {
    background-color: #469;
    svg {
      height: 50px;
      fill: #fff;
    }
}
.button, .button:visited {
    display: inline-block;
    padding: .5rem .8rem;
    margin-top: .4rem;
    font-size: .8rem;
    text-decoration: none;
    color: white;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    transition: all 250ms;
}