<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <link rel="canonical" href="{{ page.url | prepend:site.url }}">
    <link rel="shortlink" href="{{ page.url | prepend:site.url }}">
    <meta name="robots" content="follow, index" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/assets/css/style.css" media="screen">
    <link rel="stylesheet" href="/assets/css/print.css" media="print" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>
        window.Modernizr || document.write('<script src="/assets/js/prod/modernizr-2.8.3.min.js"><\/script>')
    </script>


    {% if site.typekit %}
    <script src="https://use.typekit.net/{{ site.typekit }}.js"></script>
    <script>
        try { Typekit.load({ async: true }); } catch (e) { }
    </script>
    {% endif %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!--[if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script> <![endif]-->
</head>

<body>
    <!--[if lt IE 10]>
	<p class="browserupgrade.html %">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


    <div class="wrap">

        <header>
            <img src="/assets/images/logo.svg" class="" alt="Patrick's Irish Pub - Greeley, Colorado" />
        </header>

        <section class="main">
            {{content}}
        </section>





        <section class="contact clearfix">
            <div class="map">
                <iframe id="map-canvas" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12149.350873267835!2d-104.6910225!3d40.4235202!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4bf1cc05aba891b8!2sPatrick&#39;s+Irish+Pub!5e0!3m2!1sen!2sus!4v1495764943992"
                    width="100%" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
            </div>
            <div class="contact-form" id="email">
                <form action="#" method="post">
                    <h2>Contact Us</h2>
                    <input type="hidden" name="_to" value="todd@thesubiedoctor.com,team@variantstudios.com">
                    <input type="hidden" name="_subject" value="The Subie Doctor - Contact Form">
                    <input type="text" name="_gotcha" style="display: none;">
                    <label for="name">Name</label>
                    <input type="text" name="name" required>
                    <label for="email">Email</label>
                    <input type="email" name="email" required>
                    <label for="message">Message</label>
                    <textarea name="message" rows="6" required></textarea>
                    <div class="g-recaptcha" data-sitekey="6Ld7ZBwUAAAAAO8rCWV_bk2jih_VVqUCQ3QlB1No"></div><br><br>
                    <input class="sendButton" type="submit" name="Submit" value="Send">
                </form>

            </div>
        </section>


        <section class="untappd">
            <div id="menu-container-untappd-1" class="untappd-menu"></div>
            <script type="text/javascript">
                !function (e, n) {
                    var t = document.createElement("script"), a = document.getElementsByTagName("script")[0];
                    t.async = 1, a.parentNode.insertBefore(t, a), t.onload = t.onreadystatechange = function (e, a) {
                        (a || !t.readyState || /loaded|complete/.test(t.readyState)) && (t.onload = t.onreadystatechange = null, t = void 0, a || n && n())
                    },
                        t.src = e
                }("https://embed-menu-preloader.untappdapi.com/embed-menu-preloader.min.js", function () {
                    PreloadEmbedMenu("menu-container-untappd-1", '3591', '10840')
                });
            </script>
        </section>

        <footer>
            footer
        </footer>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
                window.jQuery || document.write('<script src="/assets/js/prod/jquery-1-11-1.min.js"><\/script>')
    </script>
    {% if site.google_analytics_tracking_id %}
    <!-- google analytics -->
    <script>
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date(); a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
                ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
                ga('send', 'pageview');
    </script>
    {% endif %}
    <script src="/assets/js/prod/scripts.js"></script>
</body>

</html>